.btn-voltar {
  background-color: #ffffff;
  color: #4CAF50;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 5px;
  font-weight: bold;
}

.btn-voltar:hover {
  background-color: #2ECC71;
  color: #ffffff;
}

footer {
  text-align: center;
  padding: 20px;
}